<%- include('../partials/head') %>
<%- include('../partials/header') %>
<h1>Add a message</h1>
<form method="POST" action="/new">
  <label for="name">Name</label>
  <input name="name" type="text" required>
  <label for="message">Message</label>
  <input name="message" type="text" required>
  <button type="submit">Submit</button>
</form>